#sorted {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 8px;
}

/* .order-inactive span {
    visibility:hidden;
}
.order-inactive:hover span {
    visibility:visible;
}
.order-active span {
    visibility: visible;
} */