#sorted {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}
th {
    cursor: pointer;
}
#data-table, h1 {
    display: flex;
    justify-content: center;
}
body {
    background-color: beige;
}
/* .order-inactive span {
    visibility:hidden;
}
.order-inactive:hover span {
    visibility:visible;
}
.order-active span {
    visibility: visible;
} */